<div id="container">
	<h3>My books collection</h3>

	<div class="book-item">
		<div class='float-left'>
			<%=image_tag("the-war-of-art.png", alt: "The")%>
		</div>
		<div class='float-left'>
			<h4>Description</h4>
			<p>adfsa adsf dasf asdf asdf asdf asdf asdf asdf asdf </p>
		</div>
		<div class='float-left'>
			<h4>Rating</h4>
			<p>***</p>
		</div>

	</div>

</div>



