#container {
	margin: 0 auto;
	width: 60%;
	font-family: Helvetica, Verdana, sans-serif; 

	.book-item {
		border-radius: 14px;
	}
}

.float-left {
	color: #fff;
	float: left;
	margin-left: 22px;
	margin-right: 15px;

	img {
		margin-left: -10px;
	}

	h4 {
		margin-top: 0;
		margin-bottom:0;
	}
}

.book-item {
	overflow: hidden;
	padding: 15px;
	background-color: #1A3F6B;
}